* {
    margin: 0;
    padding: 0;
}

header,
main,
footer,
nav,
aside,
section {
    display: block;
}

/* index1 */

header {
    width: 1440px;
    height: 123px;
    left: 0px;
    top: 0px;
    background: #F2E9E9;
    text-align: center;
}

li {
    float: left;
    list-style-type: none;
    font-family: 'Amiko', sans-serif;
    margin-left: 18px;
    margin-top: 52px;
    font-size: 24px;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #000000;
}

ul.ul1 {
    position: relative;
    display: inline-block;
    text-align: left;
}

a:hover {
    color:#f62ffd;
}

.ball {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 595px;
    border-radius: 100%;
}

#ball_index {
    top: 34px;
    left: 595px;
    background: #F72828;
}

#wrapper_rect {
    position: absolute;
    top: 214px;
    left: 688px;
}

#rectangle1 {
    position: absolute;
    left: 70px;
    top: 44px;
    height: 23px;
    width: 75px;
    background: #EBEF18;
}

#rectangle2 {
    position: absolute;
    top: 75px;
    left: 70px;
    height: 46px;
    width: 136px;
    background: #EBEF18;
}

#rectangle3 {
    position: absolute;
    top: 132px;
    left: 70px;
    height: 404px;
    width: 134px;
    background: #EBEF18;
    left: 70px;
}

#rectangle4 {
    position: absolute;
    top: 547px;
    left: 70px;
    height: 28px;
    width: 88px;
    background: #EBEF18;
}

#rectangle5 {
    position: absolute;
    top: 582px;
    left: 70px;
    height: 26px;
    width: 25px;
    background: #EBEF18;
}

#rectangle6 {
    position: absolute;
    top: 582px;
    left: 70px;
    height: 26px;
    width: 25px;
    background: #EBEF18;
    margin-left: 32px;
}

#rectangle7 {
    position: absolute;
    top: 44px;
    left: 220px;
    height: 352px;
    width: 246px;
    background: #EBEF18;
}

#rectangle8 {
    position: absolute;
    top: 412px;
    left: 220px;
    height: 212px;
    width: 123px;
    background: #EBEF18;
}

#rectangle9 {
    position: absolute;
    top: 412px;
    left: 354px;
    height: 105px;
    width: 55px;
    background: #EBEF18;
}

#rectangle10 {
    position: absolute;
    top: 524px;
    left: 354px;
    height: 58px;
    width: 110px;
    background: #EBEF18;
}

#rectangle11 {
    position: absolute;
    top: 0px;
    left: 474px;
    height: 55px;
    width: 28px;
    background: #EBEF18;
}

#rectangle12 {
    position: absolute;
    top: 66px;
    left: 474px;
    height: 55px;
    width: 28px;
    background: #EBEF18;
}

#rectangle13 {
    position: absolute;
    top: 132px;
    left: 474px;
    height: 55px;
    width: 28px;
    background: #EBEF18;
}

#rectangle14 {
    position: absolute;
    top: 198px;
    left: 474px;
    height: 198px;
    width: 28px;
    background: #EBEF18;
}


#rectangle15 {
    position: absolute;
    top: 412px;
    left: 446px;
    height: 105px;
    width: 55px;
    background: #EBEF18;
}

#wrapper2 {
    position: absolute;
    top: 390px;
    left: 244px;
}

h1 {
    position: relative;
    font-family: 'Amiko', sans-serif;
    font-size: 72px;
    font-weight: bold;
}

h3 {
    position: relative;
    font-family: 'Amiko', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 32.02px;
}

#index1 footer {
    position: relative;
    width: 1440px;
    height: 41px;
    background: #000000;
    margin-top: 983px;
}

/* layout2 */

#ball_layout2 {
    top: 34px;
    left: 686px;
    background: #F72828;
}

.main_layout2_1 {
    position: absolute;
    top: 242px;
    width: 454px;
    margin-left: 151px;
    display: flex;
    gap: 70px;
    flex-flow: column;
}

.main_layout2_1>section {
    height: 299px;
    width: 457px;
    background: #C4C4C4
}

.main_layout2_2 {
    position: absolute;
    top: 410px;
    width: 454px;
    margin-left: 663px;
    display: flex;
    gap: 70px;
    flex-flow: column;
}

.main_layout2_2>section {
    height: 299px;
    width: 457px;
    background: #C4C4C4
}

.layout2 footer {
    position: fixed;
    width: 1440px;
    height: 41px;
    background: #000000;
    bottom: 0;
}

.layout2 aside {
    position: relative;
    width: 169px;
    height: 2185px;
    left: 1271px;
    background: #EBEF18;
}

.Square_black1 {
    position: absolute;
    height: 80px;
    width: 80px;
    background: #000000;
    margin-top: 119px;
}

.Square_black2 {
    position: absolute;
    height: 80px;
    width: 80px;
    background: #000000;
    margin-top: 616px;
}

.Square_white {
    position: absolute;
    height: 80px;
    width: 80px;
    background: #ffffff;
    margin-top: 247px;
    margin-left: 89px;
}

.my_name {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    left: 44px;
    bottom: 20px;

}

.my_name a {
    font-size: 96px;
    font-family: 'Amiko';
    font-weight: 400;
    line-height: 128px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    
}

.my_name a:hover {
    color: #f62ffd;
}

.layout3 header {
    position: absolute;
}

.Square_black {
    position: relative;
    height: 80px;
    width: 80px;
    margin-left: 1336px;
    margin-top: 21px;
    background-color: #000000;
}

#ball_layout3 {
    top: 228px;
    left: 301px;
    background: #F72828;
}

.rect_gray {
    height: 995px;
    width: 372px;
    background: #E5E5E5;
}

.blue {
    position: absolute;
    height: 995px;
    width: 104px;
    left: 1336px;
    top: 123px;
    background: #1847EF4D;
}

#main_nav {
    position: absolute;
    top: 120px;
}

.ul3 {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 25px;
}

#main_nav>ul>li {
    margin-top: 123px;
}

.rect_yellow {
    position: relative;
    height: 463px;
    width: 1440px;
    background: #EBEF18;
}

.layout3 footer {
    position: absolute;
    background-color: #000000;
    width: 1440px;
    height: 41px;
}

/* .layout3-mobile */

@media only screen and (max-width: 480px) {
    aside.blue {
        display: none;
    }

    .layout3 header>section {
        margin-left: calc(100% - 100px);
    }

    .layout3 header {
        width: 100%;
    }

    #ball_layout3 {
        top: 150px;
        left: 301px;
        background: #F72828;
    }

    .rect_gray {
        width: 100%;
        position: relative;
        top: 123px;
        height: 105px;
    }

    #main_nav>ul>li {
        text-align: center;
        margin-top: 45px;
    }

    .rect_yellow {
        position: relative;
        height: 474px;
        width: 100%;
        margin-top: 1900px;
    }

    .layout3 footer {
        position: relative;
        height: 41px;
        width: 100%;
        background-color: #000000;
    }
}